<div class="card">
    <div class="card-header">User Update</div>
    <div class="card-body pd-5">
        <form>
            <div class="row my-3 p-3">
                <div class="col-lg-4">
                    <div class="">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" name="userName" [(ngModel)]="userObj.userName">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">City</label>
                        <input type="text" class="form-control" name="userCity" [(ngModel)]="userObj.userCity">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">State</label>
                        <select type="text" class="form-control" name="userState" [(ngModel)]="userObj.userState">
                            <select>Select State</select>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Rajsthan">Rajsthan</option>
                            <option value="Delhi">Delhi</option>
                        </select>
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">Mobile</label>
                        <input type="text" class="form-control" name="userMobile" [(ngModel)]="userObj.userMobile">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">Alt Mobile</label>
                        <input type="text" class="form-control" name="userAltMobile" [(ngModel)]="userObj.userAltMobile">
                    </div>
            
                    <button type="button" (click)="updateUser()" class="btn btn-primary my-3">Update User</button>
                </div>
            </div>
        </form>
    </div>
</div>