<div class="card">
    <div class="card-header">User List</div>
    <div class="card-body">
        <table class="table table-bordered table-sm text-center">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Mobile</th>
                    <th>Alt Mobile</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let user of userList;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.userCity}}</td>
                    <td>{{user.userState}}</td>
                    <td>{{user.userMobile}}</td>
                    <td>{{user.userAltMobile}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary mx-2 " [routerLink]="['/updateUser',user.userId]">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="delete(user.userId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>