<div class="card">
    <div class="card-header">User Registation</div>
    <div class="card-body">
        <form [formGroup]="registrationform"> 
            <div class="row">
                <div class="col-lg-4">
                <div class="">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" name="userName" formControlName="userName" [(ngModel)]="userObj.userName"><br>
                    <div *ngIf="userName?.invalid && userName?.touched" class="text-danger bg-light ">Name is required</div>
                </div>
                <div class="">
                    <label for="exampleInputEmail1">City</label>
                    <input type="text" class="form-control" name="userCity" formControlName="userCity" [(ngModel)]="userObj.userCity"><br>
                    <div *ngIf="userCity?.invalid && userCity?.touched" class="text-danger">City name is required</div>
                </div>
                <div class="">
                    <label for="exampleInputEmail1">State</label>
                    <select type="text" class="form-control" name="userState" formControlName="userState" [(ngModel)]="userObj.userState">
                        <option value="Gujarat">Gujarat</option>
                        <option value="Rajsthan">Rajsthan</option>
                        <option value="Delhi">Delhi</option>
                    </select><br>
                    <div *ngIf="userState?.invalid && userState?.touched" class="text-danger">State selection is required</div>
                </div>
                <div class="">
                    <label for="exampleInputEmail1">Mobile</label>
                    <input type="text" class="form-control" name="userMobile" formControlName="userMobile" [(ngModel)]="userObj.userMobile"><br>
                    <div *ngIf="userMobile?.invalid && userMobile?.touched" class="text-danger">Mobile number is required</div>
                </div>
                
                <div class="">
                    <label for="exampleInputEmail1">Alt Mobile</label>
                    <input type="text" class="form-control" name="userAltMobile" formControlName="userAltMobile" [(ngModel)]="userObj.userAltMobile"><br>
                    <div *ngIf="userAltMobile?.invalid && userAltMobile?.touched" class="text-danger">Alter number is required</div>
                </div>
            
                <button type="button" (click)="saveUser()" class="btn btn-primary my-3">Submit</button>
                </div>
            </div>
        </form>
        <div class="card card1" style="width: 18rem;" *ngIf="isSaved">
            <div class="card-body">
                <h5 class="card-title">Data is Saved</h5>
                <p class="card-text">Successfuly new user added in table.</p>
                <button class="btn btn-primary mx-2" (click)="newdata()">Add New Data</button>
                <button class="btn btn-danger mx-2" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>